.Blog ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.Blog ul li {
  display: block;
  padding: 12px 20px;
}
.Blog ul li a {
  display: block;
  text-decoration: none;
  color: #09f;
  font-weight: 600;
  text-transform: uppercase;
}
.Blog ul li a:hover,
.Blog ul li a:active  {
  color: #ff6a00;
}

