.Post {
    width: 30%;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
  background: #fff8b3;
}

.Post:hover,
.Post:active {
    background-color: #c69c59;
}

.Author {
    margin: 16px 0;
    color: #09f;
    font-weight: 600;
}